* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 16px;
}

body {
    overflow-y: hidden;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 100vh;
    transition: background-image 1.5s ease-in-out;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#logo {
    position: relative;
    z-index: 2;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 90px;
    padding: 10px;
    cursor: pointer;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

#header-title-wrapper {
    float: inherit;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-subtitle {
    position: absolute;
    left: 10%;
    bottom: 45%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    font-size: 45px;
    font-weight: lighter;
    color: white;
    animation: title-fadeIn 2s ease-in-out;
}

.subtitle {
    display: inline-block;
    width: 100%;
    text-align: start;
}

#header-title {
    font-size: 65px;
    font-weight: 600;
    color: white;
}

#header-row-divider {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 13%;
    background-color: white;
    animation: header-row-divider-fadeIn 2s ease-in;
}

#scrolldown-btn {
    z-index: 10;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scrolldown-ic {
    position: absolute;
    bottom: 2%;
    z-index: 5;
    animation: showScrolldown 3s ease, scrolldown 1s infinite;
    opacity: 1;
}

#scrolldown-cmt {
    position: absolute;
    bottom: 9%;
    z-index: 5;
    animation: showScrolldown 3s ease;
    opacity: 1;
    color: white;
    font-size: 15px;
}

@keyframes title-fadeIn {
   0% {
    opacity: 0;
   }
   100% {
    opacity: 1;
   }
}

@keyframes subtitle-fadeIn {
    0% {
     opacity: 0;
     font-size: 110px;
    }
    100% {
     opacity: 1;
     font-size: 90px;
    }
 }

 @keyframes header-row-divider-fadeIn {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    80% {
        transform: scaleX(0);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;

    }
 }
 
 @keyframes scrolldown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
 }

 @keyframes showScrolldown {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 }
 

/* 두 번째 p 태그는 약간 늦게 등장 */
p:nth-child(2) {
    animation-delay: 0.5s;
}

/* 메인 */
main {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 소개 섹션 */
#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#history {
    width: 80%;
    margin: 50px 0;
}

#history img {
    width: 100%;
    height: auto;
}

#about-title-wrapper {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

.section-title {
    width: 350px;
    font-size: 45px;
    color: rgb(0, 0, 85);
    text-align: center;
    font-weight: lighter;
}

.section-divider {
    width: 350px;
    height: 2px;
    background-color: rgb(0, 0, 85);
}

#about-detail {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#introduction {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}


#about-detail-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#section-title {
    position: relative;
    font-size: 4vw;
}

#section-content {
    position: relative;
    font-size: 1.3vw;
    text-align: justify;
    margin: 10px 0;
}

#about-detail img {
    width: 30%;
}

#auto-video {
    width: 80%;
    height: 600px;
    pointer-events: none;
    margin-bottom: 150px;
}

#auto-vidseo iframe {
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#main-product-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-product-wrapper a {
    width: 30%;
    height: auto;
    margin: 20px 15px;
}

.main-product {
    width: 100%;
    height: auto;
}

#main-product-cmt {
    font-size: 2.5vw;
    font-weight: lighter;
    margin: 40px 0;
}

#viewmore-cmt {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 1.3vw;
    font-weight: lighter;
}

#viewmore-arrow {
    animation: doubledown 1s infinite;  
    margin-bottom: 150px; 
}

@keyframes doubledown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

/* 상품 색션 */
#product {
    margin-top: 150px;
}

#main-title-wrapper {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 85);
    margin-top: 200px;
}

#products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 400px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.item img:hover {
    scale: 1.03;
}

#product-name {
    margin-top: 10px;
    font-size: 30px;
}

.main-product-detail {
    display: flex;
    flex-direction: row;
    
}

/* 푸터 */
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 40);
    color: white;
    font-size: 15px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#footer-wrapper {
    margin: 15px 50px;
}

footer span {
    font-weight: 300;
}

#footer-wrapper p {
    margin: 5px 0;
}

#footer-logo {
    font-size: 20px;
    font-weight: bolder;
}