* {
    margin: 0;
    padding: 0;
}

a {
    font-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 800px;
    background-color: yellow;
}

header div {
    float: left;
    width: 200px;
    height: 80px;
    background-color: blue;
}

main {
    width: 70%;
    height: 800px;
    background-color: red;
}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#footer-wrapper {
    width: 70%;
    height: 100%;
    background-color: blue;
}