/* Global Styles */
* {
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Topbar */
#topbar {
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: #222; 
    color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    font-size: 40px;
}

/* #logo {} */

#user-container {
    margin: 10px 20px;
    display: flex;
    align-items: center;
}

#user-container #login a {
    background-color: white;
    color: black;
    border-radius: 4px;
    font-size: 14px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

#profile-photo {
    position: relative;
    cursor: pointer;
}

/* Dropdown menu */
#dropdown-menu {
    position: absolute;
    top: 100%; /* 프로필 아래에 위치 */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1000;
    width: 150px;
    display: none; /* 기본적으로 숨김 */
}

/* Dropdown menu list */
#dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dropdown-menu ul li {
    border-bottom: 1px solid #eee;
}

#dropdown-menu ul li:last-child {
    border-bottom: none;
}

#dropdown-menu ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s;
}

#dropdown-menu ul li a:hover {
    background-color: #f4f4f4;
}

#profile-photo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#profile-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
}

/* Navigation */
#nav {
    position: fixed; 
    top: 70px; 
    left: 0;
    width: 100%; 
    z-index: 999;
    background-color: #333;
    padding: 10px 0;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-container li a {
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-container li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Sections */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section h1 {
    text-align: center;
    font-size: 40px;
    color: #333;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* About Section */
/* About Section */
#about {
    color: wheat;
    display: flex;
    flex-direction: row;
    /* background: url(../images/sample_home_background.jpg); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    background-color: #333;
}

#about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    padding-left: 100px;
}

#about-main {
    width: 50%;
    font-size: 70px;
    margin-bottom: 50px;
}

#about-description {
    width: 50%;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

#about-subdescription {
    width: 50%;
    font-size: 20px;
    text-align: justify;
    align-items: end;
}


/* Portfolio Section */
#portfolio h1 {
    font-size: 48px;
    margin: 150px auto;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

/* Portfolio Box */
.portfolio-box {
    width: 60%;
    margin-bottom: 15px;
}

.divider {
    display: block;
    width: 62%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 15px;
}

.portfolio-box a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    border-radius: 10px;
    transition-duration: 0.3s;
    padding: 15px;
}

.portfolio-box a:hover {
    background-color: #ccc;
}

/* Portfolio Image */
.portfolio-img img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
    
}

/* Portfolio Description */
.portfolio-description {
    width: 80%;
}

.portfolio-description-title {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.portfolio-description-content {
    font-size: 20px;
    color: #555;
    line-height: 1.2;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 150px;
    background-color: #333;
    color: white;
}

#contact h1 {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    margin-top: 100px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contact-links a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transition 0.3s, box-shadow 0.3s;
}

.contact-links a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-links img {
    width: 30px;
    height: 30px;
}

/* Responsive Design */
@media (max-width: 1048px) {
    #topbar {
        flex-direction: column;
        gap: 10px;
    }

    #to-signin {
        padding-bottom: 10px;
    }

    #nav {
        visibility: hidden;
    }

    section {
        padding: 10px;
    }

    #about-main {
        width: 90%;
    }
    
    #about-description {
        width: 90%;
    }
    
    #about-subdescription {
        width: 90%;
    }

    .portfolio-box a {
        flex-direction: column;
        align-items: center; 
    }

    .portfolio-description {
        text-align: center;
    }

    .portfolio-img img {
        height: auto;
    }

    .contact-links {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .contact-links a {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #f4f4f4;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .contact-links img {
        width: 50px;
        height: 50px;
    }
}

/* floating button */
#floatingButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 180px;
    height: 65px;
    border-radius: 30px;
    background-color: #ccc;
    color: #333;
    font-size: 22px;
    font-family: sans-serif;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition-duration: 0.3s;
}

#floatingButton:hover {
    background-color: #aaa;
}