@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Pretendard-Regular';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #232323;
}

/* header */
header {
    width: 1200px;
    height: 100px;
    display: flex;
    flex-shrink: 0;
    color: #00a99d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-photo {
    width: 285px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

#profile-photo a {
    text-decoration: none;
    color: #00a99d;
    font-size: 20px;
    font-weight: 500;
}

/* header: 드롭다운 메뉴 */
#dropdown-menu ul {
    position: absolute;
    list-style: none;
    z-index: 900;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #d4d4d4;
}

#dropdown-menu ul li {
    margin: 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#dropdown-menu ul li:last-child {
    border-bottom: none; /* 마지막 아이템의 하단 테두리 제거 */
}

#profile-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#profile-photo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* main */
main {
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

/* main: 타이틀 */
main h1 {
    margin: 100px auto;
    font-size: 40px;
}

.divider {
    width: 1100px;
    height: 1px;
    background-color: #00a99d;
    margin: 50px;
}

.info-title-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: start;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.info-title-wrapper .title-notifier {
    width: 10px;
    height: 10px;
    background-color: #00a99d;
}

.info-title-wrapper .info-category {
    text-align: start;
    font-size: 25px;
    font-weight: bold;
    color: #232323;
    margin-left: 10px;
}

/* main: 구독 정보 */
.subscribe-info-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.subscribe-details-wrapper {
    width: 1000px;
    height: 400px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
}

/* main: 결제 내역 */
.payment-info-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.payment-info-wrapper .payment-details-title {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.payment-info-wrapper .payment-title-category {
    width: 250px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #00a99d;
    border-bottom: 3px solid #00a99d;
}

.payment-details-wrapper ul {
    width: 1000px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.payment-details-wrapper .payment-detail-item {
    width: 1000px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.payment-details-wrapper .payment-detail-category {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;
    border-bottom: 1px solid #d4d4d4;
}

/* main: 결제 내역 - 페이저 */
.pager {
    width: 1000px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.pager .indexes {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.pager a {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.pager img {
    width: 30px;
    height: 30px;
}

/* main: 프로젝트 내역 */
.project-list-title {
    width: 1000px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    border-bottom: 3px solid #00a99d;
    border-top: 3px solid #00a99d;
}

.project-list-title-item {
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.project-list ul {
    list-style: none;
}

.project-list ul li {
    padding: 7px;
    border-bottom: 1px solid #d4d4d4;
}

.project-list-item {
    width: 1000px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}

.project-list-item:hover {
    background-color: #f4f4f4;
}


.item-detail {
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

/* swal button */
.swal-confirm-btn {
    background-color: #00a99d;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.swal-cancel-btn {
    background-color: #d4d4d4;
    color: grey;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}