@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Pretendard-Regular';
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
}

a {
    cursor: pointer;
}

/* header */
header {
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

/* header: logo */
#logo-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 100px;
}

/* header: user */
#to-signin div {
    width: 285px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

#to-signin div a {
    text-decoration: none;
    color: #00a99d;
    font-size: 20px;
    font-weight: 500;
}

#profile-photo {
    width: 285px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

#profile-photo a {
    text-decoration: none;
    color: #00a99d;
    font-size: 20px;
    font-weight: 500;
}

/* 프로필 드롭다운 메뉴 */
#dropdown-menu ul {
    position: absolute;
    list-style: none;
    z-index: 900;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #d4d4d4;
}

#dropdown-menu ul li {
    margin: 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#dropdown-menu ul li:last-child {
    border-bottom: none; /* 마지막 아이템의 하단 테두리 제거 */
}


/* main */
main {
    width: 1090px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

/* main: 타이틀 영역 */
.title-wrapper {
    width: 1040px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

.title-wrapper > div {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.title-wrapper #title-notifier {
    width: 8px;
    height: 33px;
    background-color: #00a99d;
    margin-right: 5px;
}

.title-wrapper #project-title {
    font-size: 30px;
}

.title-wrapper #date {
    font-size: 20px;
}

/* main: 문의자 정보 영역 */
#progress {
    width: 1040px;
    height: 50px;
    background-color: #00a99d;
    color: white;
    font-size: 23px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.wrapper {
    width: 1000px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px;
}

.wrapper-category {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    text-align: center;
}

.wrapper-content {
    width: 900px;
    font-size: 18px;
    text-align: start;
    overflow: hidden;
}

/* 버튼 영역 */
.button-wrapper {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.project-btn {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    background-color: #00a99d;
    color: white;
    border: none;
    border-radius: 30px;
    transition-duration: 0.3s;
}

.project-btn:hover {
    background-color: #046d66;
}

.project-btn:active {
    background-color: #00a99d;
}

#pay-request-form {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
#pay-request-form #price {
    height: 30px;
    padding: 5px;
    font-size: 20px;
}

.swal-confirm-btn {
    background-color: #00a99d;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.swal-cancel-btn {
    background-color: #d4d4d4;
    color: grey;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}